[Unit]
Description=Service and DBUS for LynxOS

[Service]
User=root
ExecStart=lynx-desktop-service
Restart=always

[Install]
WantedBy=multi-user.target